[Unit]
Description=zkTransfer Server App
After=network.target

[Service]
Type=simple
WorkingDirectory=/Users/hyunokoh/Documents/zkWallet/zktransfer-server-app
EnvironmentFile=/Users/hyunokoh/Documents/zkWallet/zktransfer-server-app/.env
ExecStartPre=/usr/bin/env npm run check:ready
ExecStart=/usr/bin/env npm start
Restart=always
RestartSec=3
KillSignal=SIGINT
TimeoutStopSec=20

[Install]
WantedBy=multi-user.target
